
<div>
    <button>categorias</button><br>
</div>

<div class="platos">
    <div class="opciones">
        <button>Lomo saltado</button>
        <button>tallarines rojos</button>
    </div>

    <div class="boleta">
        <table border="1px solid black">
            <thead>
                <tr>
                    <th>Plato</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>mesa</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>tallarrin</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>